@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

:root {
    --main-color: black;
    --accent-color: white;
    font-family: 'Oswald', sans-serif;
}

body {
    max-width: 980 px;
}

.header-nav .logo {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  text-align: center;
}

.header-nav .menu-items {
    display: flex;
    justify-content: space-around;
    flex: 1;
}

.header-nav .menu-items a {
    text-decoration: none;
    color: var(--main-color);
    padding: 5px;
}

@media (min-width: 769px) {
    .header-nav {
        display: flex;
        align-items: center;
    }
}

.header-banner {
    background-image: url(../img/main.jpg);
    background-position: top;
    background-size: cover;
    min-height: 400 px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-banner h1 {
    font-size: 3.5rem;
    color: var(--accent-color);
}